:root{
  --border: 210 16% 92%;
  --input: 210 16% 98%;
  --ring: 210 16% 60%;
  --background: 210 18% 99%;
  --foreground: 210 10% 10%;
  --primary: 210 56% 12%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 14% 96%;
  --secondary-foreground: 210 10% 20%;
  --muted: 210 12% 97%;
  --muted-foreground: 210 9% 40%;
  --card: 0 0% 100%;
  --card-foreground: 210 10% 10%;
  --radius: 8px;
}
[data-theme="emergency"]{
  --background: 220 10% 6%;
  --foreground: 210 10% 92%;
  --primary: 200 30% 70%;
  --primary-foreground: 210 10% 10%;
  --card: 220 12% 8%;
  --card-foreground: 210 10% 92%;
}
